html {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Bellota', cursive;
    font-size: 26pt;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0;
  }
  
  h1 {
    font-size: 15pt;
    color: #ffffff;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
  }
  
  h1 span {
    border: 8px solid #666666;
    border-radius: 8px;
    background-image: url("https://media.giphy.com/media/KVZWZQoS0yqfIiTAKq/giphy.gif");
    padding: 12px;
  }
  
  p {
    padding: 0;
    margin: 0;
    color: #000000;
  }
  
  .img-circle {
    border: 8px solid white;
    border-radius: 50%;
  }
  
  .section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
  }
  
  #header {
    background-image: url("https://media.giphy.com/media/KVZWZQoS0yqfIiTAKq/giphy.gif");
    background-size: cover;
  }
  
  #header img {
    display: block;
    width: 500px;
    height: 500px;
    margin: auto;
  }
  
  #header p {
    font-size: 60pt;
    color: #ffffff;
    padding-top: 8px;
    margin: 0;
    font-weight: bold;
    text-align: center;
  }
  
  .quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
    color: grey;
  }
  
  #res {
    text-align: center;
    margin: 50px auto;
  }
  
  #res a {
    margin: 20px 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
  }
  
  .selected {
    background-color: #f36f48;
    font-weight: bold;
    color: white;
  }
  
  li {
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  progress {
    width: 70%;
    height: 20px;
    color: #3fb6b2;
    background: #efefef;
  }
  
  progress::-webkit-progress-bar {
    background: #efefef;
  }
  
  progress::-webkit-progress-value {
    background: #3fb6b2;
  }
  
  progress::-moz-progress-bar {
    color: #3fb6b2;
    background: #efefef;
  }
  
  iframe,
  audio {
    display: block;
    margin: 0 auto;
    border: 3px solid #3fb6b2;
    border-radius: 10px;
  }
  
  hr {
    border: 0;
    height: 1px;
    background: #f36f48;
  }
  
  input {
    text-align: center;
    font-size: 25pt;
    border: none;
    border-radius: 12px;
    padding: 30px 8%;
    margin: 20px 5px 10px 5px;
    background-color: #d7d7d7;
  }
  
  input:focus {
    background-color: #2f2f2f;
    color: white;
  }
  
  form {
    text-align: center;
    font-size: 30pt;
    font-family: Helvetica;
    font-weight: 500;
    margin: 10% 15% 8% 15%;
    border-radius: 12px;
  }
  
  #insta-image {
    display: block;
    width: 100px;
    height: 100px;
    border: 5px solid #d7d7d7;
    border-radius: 50%;
    margin: auto;
    margin-top: -75px;
  }
  
  #contacts img {
    height: 150px;
    width: 150px;
    margin-left: 7px;
    margin-right: 7px;
  }
  
  #contacts a {
    text-decoration: none;
  }
  
  #contacts img:hover {
    opacity: 0.8;
  }
  
  #contacts {
    text-align: center;
  }
  
  .copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
  }:root {
    --yellow: #fec008;
    --black: #212429;
    --green: #18a2b7;
    --title: #6c747d;
    --main: #353941;
    --nav-color: #f7f9fb;
  
    --body-fonts: 'Roboto', sans-serif;
    --skills: #017afd;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
  }
  
  p {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--title)
  }
  
  /*---------------Header-----------*/
  
  header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--nav-color);
    flex-wrap: wrap;
    width: 100%;
    height: 4.5rem;
  }
  header h1{
    margin-right: auto;
    margin-left: 0.2rem;
  
  }
  header img{
    width: 3rem;
    margin-left: 1rem;
    margin-right: 0;
  
  }
  .nav-links{
    display: flex;
    margin-right: 2rem;
    padding: .6rem;
  
  }
  .nav-links li {
    list-style: none;
    padding: 0 1rem;
  }
  .nav-links li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--main);
  }
  
  .hamburger{
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .hamburger:focus{
    outline: none;
  }
  
  /* ----MAIN SECTION----- */
  #main-section {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    width: 70%;
  }
  
  .avtar img {
    width: 200px;
  }
  
  .avtar h2 {
    text-align: center;
    color: var(--title);
    font-size: 2rem;
    padding: .5rem;
  }
  
  .About {
    width: 65%;
    /* padding: 0 .5rem; */
  }
  #about{
    transition: all 0.9s;
  }
  .para {
    padding-bottom: 1rem;
  }
  
  /* SOCIAL ICONS */
  .social .btn {
    text-decoration: none;
    color: var(--nav-color);
    background-color: var(--green);
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .fab {
    padding: .5rem .3rem;
    font-size: 1.5rem;
  }
  
  
  
  #skills h1 {
    text-align: center;
    color: var(--skills);
    margin: 1rem;
  }
  
  .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1rem auto;
    height: 23rem;
  
  }
  .skills-container h2{
     padding-bottom: 1rem;
  }
  
  .python {
   display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    background-color: var(--yellow);
    height: 17rem;
    width: 33.3%;
    margin: 15px;
    border-radius: .8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .robot {
   display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    background-color: var(--yellow);
    height: 17rem;
    width: 33.3%;
    margin: 15px;
    border-radius: .8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .html {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    background-color: var(--yellow);
    height: 17rem;
    width: 33.3%;
    margin: 15px;
    border-radius: .8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  
  .icon {
    font-size: 3rem;
    margin-top: -50px;
    padding-bottom: 20px;
  }
  
  /*------FOOTER-------*/
  #footer-container{
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 6rem;
  }
  #footer-container img{
    width: 2rem;
  }
  #footer-container p{
    padding: .5rem;
  }
  
  
  /*-----MEDIA QUERIES-----*/
  
  @media screen and (max-width: 575px) {
    .hamburger{
      display: block;
      margin-right: 1rem;
    }
    header h1{
      font-size: 1rem;
      
    }
    header img{
      width: 2rem;
    }
    #nav-Ul{
      display: none;
    }
    #nav-Ul.show{
     display: flex;
     width: 100%;
    }
    .nav-links li a{
      font-size: 1rem;
    }
  #about {
    transition: all 0.9s;
  }
  #main-section{
    flex-direction: column;
    margin: 2rem auto 2rem auto;
  }
  .avtar img{
    width: 230px;
    padding-left: 3rem;
  }
  .About{
    width: 100%;
    text-align: justify;
  }
  .para{
      font-size: .9rem;
      color: var(--black);
  
  }
    .skills-container{
    flex-direction: column;
    width: 80%;
    height: 55rem;
  }
  .python, 
  .robot, 
  .html
  {
  width: 70%;
  height: 60%;
  }
  
  .icon{
    font-size: 1.5rem;
  }
  .fa-robot{
    padding-top: 1.2rem;
  }
  }